@model System.Data.DataTable
@{
    ViewBag.Title = "ListingProduct";
    Layout = "~/Views/Shared/Admin_Layout .cshtml";
}

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="table-responsive">
                <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Urun Ismi </th>
                            <th>Tarih</th>
                            <th>Uzunluk</th>
                            <th>Genislik</th>
                            <th>Stok Sayisi</th>
                            <th>Fiyat</th>
                            <th>Agirlik</th>
                            <th>Yorum</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Urun Ismi </th>
                            <th>Tarih</th>
                            <th>Uzunluk</th>
                            <th>Genislik</th>
                            <th>Stok Sayisi</th>
                            <th>Fiyat</th>
                            <th>Agirlik</th>
                            <th>Yorum</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (int i = 0; i< Model.Rows.Count;i++)
                        {
                        <tr>
                            <th>@Model.Rows[i][1]</th>
                            <th>@Model.Rows[i][2]</th>
                            <th>@Model.Rows[i][3]</th>
                            <th>@Model.Rows[i][4]</th>
                            <th>@Model.Rows[i][6]</th>
                            <th>@Model.Rows[i][7]</th>
                            <th>@Model.Rows[i][8]</th>
                            <th>@Model.Rows[i][9]</th>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section><!-- #content end -->
